@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --text-color: #51035d;
    --button-bg-color: #42004C;
    --border-radius: 7px;
    --box-shadow: 0 0 0.5rem #42004C;
}

body {
    overflow: hidden;
    background-image: url(assets/background.svg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* main container */

#modalError {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1.3rem;
    box-shadow: 0 0 0.5rem #000;
    border-radius: var(--border-radius);
    z-index: 1000;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 0 1rem;
    user-select: none;
    text-align: center;
    color: var(--text-color);
}
#modalError #closeError{
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background-color: var(--button-bg-color);
    padding: 0 0.4rem;
    border-radius: var(--border-radius);
    
}

.form-container {
    position: relative;
    width: 370px;
    max-height: 100%;
    background-color: #00000000;
    backdrop-filter: blur(5px);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.7rem #000;
    overflow: hidden;
}
.form-container .steps {
    padding: 0.6rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--text-color);
}

.steps .cols {
    width: 100%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.steps .cols:nth-child(2){
    border-left: 1px solid var(--button-bg-color);
}
.steps .cols:nth-child(3){
    border-left: 1px solid var(--button-bg-color);
}

.steps .cols img {
    width: 30px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.form-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

form, #summary {
    min-width: 100%;
    height: 100%;
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form span #formImg {
    padding: 0.6rem;
    width: 80px;
    height: auto;
    object-fit: contain;
    background-color: #24242406;
    border: 1px solid var(--text-color);
    backdrop-filter: blur(3px);
    border-radius: var(--border-radius);
}

form h1, #summary h1 {
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 1.1rem;
    text-align: center;
}

form input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: 1.07rem;
    padding: 0.7rem 0.3rem;
    margin-bottom: 0.7rem;
    border-radius: var(--border-radius);
}
input:user-valid{
   outline-color: green;
}
input:user-invalid{
    outline-color: red;
}

::placeholder {
    color: var(--text-color);
}

.navigate-btns {
    width: 100%;
    text-align: center;
    margin: 1.1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navigate-btns button {
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    background: var(--button-bg-color);
    color: #fff;
    box-shadow: var(--box-shadow);
    font-weight: bold;
    font-size: 1.06rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.navigate-btns button:hover,
.navigate-btns button:focus {
    transform: scale(0.96);
    box-shadow: none;
}

#tech-options, #health-options, #sports-options {
    display: none;
    padding: 0.3rem 0;
}
#tech-options, #health-options, #sports-options  label {
    margin: 0.6rem 0;


}

#form2 label{
    font-size: 1.1rem;
}
#form2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem 0;
    position: relative;
}
#form2 select{
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 230px;
    text-align: center;
    padding: 0.5rem 0;
    border: 1px solid var(--text-color);
    background-color: #fff;
    font-size: 1.05rem;
}

#form2 select option:checked{
    font-weight: 700;
    
}
#summary #summaryImg {
    width: 73px;
    height: auto;
    object-fit: contain;
}

#summary h1 {
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: bold;
    margin: 1rem 0;
}

#summary #summaryInfo {
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.2rem 0;
    flex-direction: column;
}

#summaryInfo p {
    color: var(--text-color);
    font-size: 1.05rem;
    padding: 0.4rem 0.7rem;
    background-color: #42004c0f;
    border-radius: var(--border-radius);
}


#modal .modal-content {
    text-align: center;
}
#modal .modal-content p {
    max-width: 65%;
    margin: 0 auto;
}

.close-modal {
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 0;
    color: #fffffff1;
    background-color: var(--button-bg-color);
    padding: 0 0.4rem;
    border-radius: var(--border-radius);
}

@media (max-width: 430px){
    .form-container{
        width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: none;
        border: 1px solid var(--text-color);
    }
    form, #summary{
        margin: 4.2rem auto;
    }
    #modal .modal-content p {
        max-width: 85%;
    }

    #modalError {
        top: 40%;
    }
    #summary #modal{
        top: 40%;
    }
}